<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-confirmation.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            $(document).ready(function() {
                var hasError = [[${error}]];

                if (hasError) {
                    $("#panel-details").hide();
                }
                else {
                    $("#text-edit").hide();
                }

                $("#btn-edit").click(function() {
                    $("#panel-details").hide();
                    $("#text-edit").show();
                });

                $('[data-toggle=confirmation]').confirmation({
                    rootSelector: '[data-toggle=confirmation]',
                    onConfirm: function() {
                        $("#form-delete").submit();
                    }
                });
            });
        /*]]>*/
    </script>

</head>
<body>
<div class="container">

    <a class="text-primary" th:href="@{/manager/home}">Back to home</a>

    <div class="panel" id="panel-details">
        <!--<div class="col-md-8">
        </div>-->

        <div class="panel-heading">
            <h3 th:text="${text.title}"></h3> <span class="badge" th:text="${text.type}"></span>


        </div>

        <div class="panel-body">
            Author: <span th:text="${text.author}"></span> <br/>
            Year: <span th:text="${text.year}"></span> <br/>
            Publisher: <span th:text="${text.publisher}"></span> <br/>
            Location: <span th:text="${text.location}"></span> <br/>
            Tags: <span th:text="${text.tags}"></span><br/>

            <hr/>

            <div class="row">
                <div class="col-md-6">
                    <a id="btn-edit" class="btn btn-primary">Edit</a>

                    <button class="btn btn-danger"
                            data-toggle="confirmation"
                            data-popout="true"
                            data-btn-ok-label="Confirm Delete"
                            data-btn-ok-class="btn btn-danger" data-btn-cancel-class="hidden">Delete</button>

                    <form id="form-delete" th:action="@{/manager/text}" th:method="delete">
                        <input type="hidden" th:name="text-id" th:value="${text.textId}" />
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <!--<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirm delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Are you sure you want to delete <span th:text="${text.title}"></span>?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <form th:action="@{/manager/text}" th:method="delete">
                        <input type="hidden" th:name="text-id" th:value="${text.textId}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </div>
            </div>
        </div>
    </div>-->


    <div id="text-edit" class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="form-text"
                  th:action="@{/manager/text}"
                  th:method="put" th:object="${text}"
                  class="form-horizontal" role="form" >
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <input id="text-id" type="hidden" th:value="*{textId}" th:field="*{textId}"/>
                <input id="text-status" type="hidden" th:value="*{status}" th:field="*{status}" />

                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="text-title" type="text" placeholder="Title" class="form-control"
                               th:value="*{title}" th:field="*{title}"/>
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Type: </label>
                        <br/>
                        <label class="radio-inline">
                            <input  type="radio" name="radio-type"  id="radio_book" value="book" checked="checked"/>
                            Book
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio-type" id="radio_thesis"  value="thesis"/>
                            Thesis
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio-type" id="radio_magazine"  value="magazine"/>
                            Magazine
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input id="text-author" type="text" placeholder="Author" class="form-control"
                           th:value="*{author}" th:field="*{author}"/>
                    <label th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                           class="validation-message"></label>
                </div>

                <div class="form-group">
                    <input id="text-year" type="number" placeholder="Year" class="form-control"
                           th:value="*{year}" th:field="*{year}" th:min="0" th:max="2017"/>
                    <label th:if="${#fields.hasErrors('year')}" th:errors="*{year}"
                           class="validation-message"></label>
                </div>

                <div class="form-group">
                    <input id="text-location" type="text" placeholder="Location" class="form-control"
                           th:value="*{location}" th:field="*{location}"/>
                    <label th:if="${#fields.hasErrors('location')}" th:errors="*{location}"
                           class="validation-message"></label>
                </div>

                <div class="form-group">
                    <input id="text-publisher" type="text" placeholder="Publisher" class="form-control"
                           th:value="*{publisher}" th:field="*{publisher}"/>
                    <label th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}"
                           class="validation-message"></label>
                </div>

                <div class="form-group">
                    <div class="col-md-4">
                        <label>Tags:</label>
                        <br/>
                        <th:block th:each="tag, stat: *{tags}">
                            <input type="text"
                                   class="form-control"
                                   th:value="${tag}"
                                   th:field="*{tags[__${stat.index}__]}" />
                            <br/>
                        </th:block>
                    </div>

                </div>

                <!--<div class="input_fields_wrap form-group">
                    <label>Tags: </label>
                    <button class="add_field_button">Add Tag</button>
                </div>-->

                <hr/>

                <div class="form-group">
                    <div class="col-md-6">
                        <button id="btn-save" type="submit" class="btn btn-success">Save</button>
                        <a th:href="@{/manager/text(id=*{textId})}" id="btn-cancel" class="btn btn-default">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
</body>
</html>