<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h2>Manage Texts</h2>
    </div>

    <a th:href="@{/manager/text/add}" class="btn btn-primary">Add Text</a>

    <ul class="list-group">
        <li th:each="text: ${texts}" class="list-group-item">
            <a th:href="@{/manager/text(id=${text.textId})}">
                <div class="text-container">
                    <strong th:text="${text.title}"></strong> <br/>
                    Type: <span th:text="${text.type}"></span> <br/>
                    Author: <span th:text="${text.author}"></span> <br/>
                    Year: <span th:text="${text.year}"></span> <br/>
                    Publisher: <span th:text="${text.publisher}"></span> <br/>
                    Location: <span th:text="${text.location}"></span> <br/>
                    Tags: <span th:text="${text.tags}"></span><br/>
                </div>
            </a>
        </li>
    </ul>

</div>
</body>
</html>