<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form autocomplete="off" th:action="@{/admin/create}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">

                <h2>Create a New Superuser</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{username}" th:maxlength="16" placeholder="Username"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="validation-message"></label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}" th:maxlength="32"
                               placeholder="Temporary Password" class="form-control" />
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Role: </label>
                        <br/>
                        <label class="radio-inline">
                            <input  type="radio" name="radio_role"  id="radio_staff" value="staff" checked="checked"/>
                            Library Staff
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="radio_role" id="radio_manager"  value="manager"/>
                            Library Manager
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>