<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/pwstrength-bootstrap.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('#new-password').pwstrength({
                ui: { showVerdictsInsideProgressBar: true }
            });
        });
        /*]]>*/
    </script>
</head>
<body>

<div class="container">

    <a class="text-primary" th:href="@{/login}">Back to login</a>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form autocomplete="off" th:action="@{/change_password}"
                  method="post" class="form-horizontal"
                  role="form">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <input type="hidden" th:name="userId" th:value="${userId}"/>

                <h2>Change Password</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:name="newPassword" th:maxlength="32"
                               placeholder="New Password" class="form-control" id="new-password"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:name="confirmNewPassword" th:maxlength="32"
                               placeholder="Confirm New Password" class="form-control" />
                    </div>
                </div>
                <span class="text-danger" th:utext="${errorMessage}"></span>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                    </div>
                </div>

                <span class="text-success" th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>