<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Account</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <a class="text-primary" th:href="@{/login}">Back to login</a>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form autocomplete="off" th:action="@{/forgot_password}"
                  method="post" class="form-horizontal"
                  role="form">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                <h2>Forgot Password</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="username">Username</label>
                        <input type="text" th:name="username" th:maxlength="64"
                               placeholder="Username" class="form-control" id="username"/>
                    </div>
                </div>

                <span class="text-danger" th:utext="${errorMessage}"></span>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Continue</button>
                    </div>
                </div>

                <span class="text-success" th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>