body{
    padding-top: 10%;
}

th {
    font-size: 8px;
}

div.slot {
    padding: 0;
    height: 40px;
    width: 100%
}

div.slot.free{
    background-color: #42f146;
}

div.slot.reserved {
    background-color: #dddddd;
}

div.slot.free:hover {
    background-color: #bbff96;
}

.table>tbody>tr>td {
    padding: 0px;
}