<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <h2>User home</h2>

    <ul>
        <li>
            <a th:href="@{/search}">Search Texts</a>
        </li>

        <li>
            <a th:href="@{/rooms}">Reserve a room</a>
        </li>

        <li>
            <a>Change password</a>
        </li>

        <li>
            <a th:href="@{/logout}">Log out</a>
        </li>
    </ul>
</div>

</body>
</html>