<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <div class = "row">
        <div class = "col-md-12 text-center">
            <h1>DLSU SHS Library</h1>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-12 text-center">
            <h2>User Home</h2>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-6 col-md-offset-3">
            <div class="btn-group btn-group-sm btn-group-justified btn-categories" role="group" aria-label="...">
                <a role="button" class="btn btn-default" th:href="@{/search}">Search</a>
                <a role="button" class="btn btn-default" th:href="@{/rooms}">Rooms</a>
                <a role="button" class="btn btn-default" th:href="@{#}">Change Password</a>
                <a role="button" class="btn btn-danger" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>