<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.standalone.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/register}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:maxlength="16" th:field="*{username}" placeholder="Username"
                               class="form-control" />
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="validation-message"></label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}" th:maxlength="32"
                               placeholder="Password" class="form-control" />
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{idNumber}" th:maxlength="8"
                               placeholder="ID Number" class="form-control" />
                        <label th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="text" th:field="*{email}" placeholder="Email" th:maxlength="32"
                                   class="form-control" aria-describedby="email-domain"/>
                            <span class="input-group-addon" id="email-domain">@dlsu.edu.ph</span>
                        </div>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{firstName}" th:maxlength="16"
                               placeholder="First Name" class="form-control" />
                        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{middleInitial}" th:maxlength="5"
                               placeholder="Middle Initial" class="form-control" />
                        <label th:if="${#fields.hasErrors('middleInitial')}" th:errors="*{middleInitial}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{lastName}" th:maxlength="16"
                               placeholder="Last Name" class="form-control" />
                        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <div class="input-group date datepicker" data-provide="datepicker">
                            <input type="text" th:field="*{birthday}"
                                   placeholder="Birthday" class="form-control" />
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                            <label th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"
                                   class="validation-message"></label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{secretQuestion}" th:maxlength="64"
                               placeholder="Secret Question" class="form-control" />
                        <label th:if="${#fields.hasErrors('secretQuestion')}" th:errors="*{secretQuestion}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{secretAnswer}" th:maxlength="32"
                               placeholder="Secret Answer" class="form-control" />
                        <label th:if="${#fields.hasErrors('secretAnswer')}" th:errors="*{secretAnswer}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
                <a th:href="@{/login}">Already have an account? Log in</a>

                <span th:utext="${successMessage}"></span>


            </form>
        </div>
    </div>
</div>

</body>
</html>