<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rooms</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/room_reservation_style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.standalone.min.css}" />

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/room_reservation_script.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
            });
        });
        /*]]>*/
    </script>
</head>
<body>

    <div class = "row">
        <div class = "col-md-4 col-md-offset-1">
            <h1>Rooms</h1>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-10 col-md-offset-1">
            <table class = "table table-bordered">
                <tr>
                    <th>Room Number</th>
                    <th th:each="time : ${times}" th:text="${time}"></th>
                </tr>
                <tr th:each = "room : ${rooms}">
                    <th th:text="${room.name}"></th>
                    <td th:each="time : ${times}">
                        <div th:id = "${room.roomId} + '-' + ${time} + '-' + ${room.name}" class = "slot"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <form id="reserve-form" th:object="${roomReservation}" method="post" th:action="@{/rooms/reserve}"
          class = "form-horizontal" role="form">

        <div class = "form-group">
            <div class = "col-md-4 col-md-offset-4 text-center">
                <b>Chosen Room and Time : </b> <span id = "displayCurrentSlot">None</span>
            </div>
        </div>

        <input type="hidden" id="msg" name="msg" />

        <div class = "form-group">
            <div class = "col-md-2 col-md-offset-5">
                <div class="input-group date datepicker" data-provide="datepicker">
                    <input type="text" th:field="*{reservationDate}"
                           placeholder="Reservation Date" class="form-control" />
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class = "form-group">
            <div class = "col-md-2 col-md-offset-5 text-center">
                <button id = "reserve-btn" class="btn btn-primary btn-block" name="Submit" th:text="Reserve"></button>
            </div>
        </div>

    </form>

</body>
</html>