<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/search.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/filters.css}"/>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="search-form" autocomplete="off" action="#" th:action="@{/search}" th:object="${search_parameters}" method="post" class="form-horizontal"
            role="form">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" th:field="*{search_parameter}" placeholder="Search for books" />
                        <div class="input-group-btn">
                            <div class="btn-group" role="group">
                                <div class="dropdown dropdown-lg">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                                        <!--<form class="form-horizontal" role="form">-->
                                        <h3>Filter by:</h3>
                                        <input type="checkbox" name="filter" value="author" th:checked="*{author}"/> Author<br/>
                                        <input type="checkbox" name="filter" value="title" th:checked="*{title}"/> Title<br/>
                                        <input type="checkbox" name="filter" value="publisher" th:checked="*{publisher}"/> Publisher<br/>
                                        <!--<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>-->

                                   </div>
                               </div>
                               <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                           </div>
                        </div>
               </div>
           </form>
       </div>
   </div>
</div>
</body>
</html>