<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Text</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.standalone.min.css}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(document).ready(function() {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                datesDisabled: /*[[${reservationStrings}]]*/null
            });

            var userReservations = /*[[${reservationCount}]]*/null;

            if (userReservations == 0) {
                $("#write-review").hide();
            }
        });
        /*]]>*/
    </script>
</head>
<body>
<div class = "wrapper">
    <div class = "row">
        <div class = "col-md-offset-4 col-md-4">

            <div class = "panel panel-default">
                <div class = "panel-body">
                    <b>Title : </b><span th:text="${text.title}"></span> <br />
                    <b>Location : </b><span th:text="${text.location}"></span>  <br />
                    <b>Author : </b><span th:text="${text.author}"></span>  <br />
                    <b>Publisher : </b><span th:text="${text.publisher}"></span>  <br />
                    <b>Year : </b><span th:text="${text.year}"></span>  <br />
                    <b>Tags : </b><span th:text="${text.tags}"></span>  <br />
                    <b>Status : </b><span th:text="${text.status}"></span>  <br />
                    You've reserved this text <b><span th:text="${reservationCount}"></span></b> time(s) <br/>

                    <div th:if="!${hasReservation}">
                        <form autocomplete="off" action="#" th:action="@{/text/reserve(id=${text.textId})}"
                              th:object="${reservation}" method="post" class="form-horizontal"
                              role="form">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <div class="input-group date datepicker" data-provide="datepicker">
                                        <input type="text" th:field="*{reservationStartDate}"
                                               placeholder="Borrow Start Date" class="form-control" />
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" name="Submit" value="Login" type="Submit" th:text="Reserve"></button>
                        </form>
                    </div>

                    <div th:if="${hasReservation}">
                        <br/>
                        <span class="text-danger">You still have an active reservation!</span>
                    </div>

                </div>
            </div>

            <div class="reviews-container">

                <div id="write-review">
                    <form th:object="${review}" th:action="@{/text/review}" th:method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

                        <input type="hidden" th:value="*{user.userId}" th:field="*{user.userId}" />
                        <input type="hidden" th:value="*{text.textId}" th:field="*{text.textId}" />
                        <div class="form-group">
                            <label for="text-review">Write a review:</label>
                            <input id="text-review" class="form-control" type="text" placeholder="Your review" th:field="*{reviewText}" />
                        </div>
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="reviews">
                    <ul class="list-group">
                        <li th:each="r : ${reviews}" class="list-group-item">
                            <div>
                                <strong><span th:text="${r.user.username}"></span></strong> <br/>
                                <small><span th:text="${r.dateTimeReviewed}"></span></small>
                                <br/> <br/>
                                <p th:text="${r.reviewText}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>